body{
    background-color: rgb(247, 241, 241);
}
.container{
    width: 60%;
}

.side-bar{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size:contain;

}

.border-primary{
    background-color: rgb(245, 244, 244);
}

.select-monthly-yearly{
    background-color: rgb(240, 236, 236);
}
.ri-toggle-fill{
    font-size: 30px;
}
.sub-option{
    font-size: 20px;
}

.container-for-check-and-label:checked {
 background-color: #cfcfcf;

}
#myCheckbox:checked + .general-container{
    background-color: #cfcfcf;

}
@media screen and (max-width:991px){
    .side-bar{
        background-size:cover;
        background-position:bottom;
        height: 250px;
    }
    .solution-to-my-problem{
        display: flex;
        justify-content: center;

    }
    .prudent{
        display: none;
    }
    .other-side-bar{
        padding-top: 50px;
        margin-top: -100px;
        background-color: aliceblue;
        border-radius: 30px;
        
    }

    
}