.side-bar{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size:contain;
    
}
.row{
    width: 60%;
    
}
@media screen and (max-width:991px){
    .side-bar{
        background-size:cover;
        background-position:bottom;
        height: 250px;
    }
    .solution-to-my-problem{
        display: flex;
        justify-content:center;
        

    }
    .prudent{
        display: none;
    }
    .col-lg-6{
        
        margin-top: -100px;
        background-color: aliceblue;
        border-radius: 30px;
        
    }
}

